<a href="https://colab.research.google.com/github/Abhiprameesh/Case-Study-NYC-Taxi-Analytics-Platform/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()

# Create a PySpark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Get:1 https://cli.github.com/packages stable InRelease [3,917 B]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:3 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ Packages [85.0 kB]
Get:5 https://cli.github.com/packages stable/main amd64 Packages [357 B]
Get:6 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,776 kB]
Get:8 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease [24.6 kB]
Get:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [39.2 kB]
Get:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy/main amd64 Packages [75.3 kB]
Get:11 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,910 kB]
Hit:12 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [4,107 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/multiverse amd64 Packages [62.6 kB]
Get:18 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,767 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [70.9 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,613 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [6,861 kB]
Get:22 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,302 kB]
Get:23 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [6,626 kB]
Fetched 37.7 MB in 9s (4,123 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
C2_2017_Yellow_Taxi_Trip_Data.csv  spark-3.1.1-bin-hadoop3.2
sample_data			   spark-3.1.1-bin-hadoop3.2.tgz

In [2]:
df = spark.read.csv(
    "/content/C2_2017_Yellow_Taxi_Trip_Data.csv",
    header=True,
    inferSchema=True
)

In [3]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

In [4]:
df.show(5)
df.count()

+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|      _c0|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
| 24870114|       2|03/25/2017 8:55:4...| 03/25/2017 9:09:4...|              6|         3.34|         1|                 N|         100|         231|           1|       13.0|  0.0|    0.5|      2.76|         0.0|                  0.3|       16.56|
| 35634249|       1|04/11/2017 2:53:2...| 04/11/2017 3:19:5...|              1|          1.8|         1|                 N|         186|          43|           1|       16.0|  0.0|    0.5|       4.0|         0.0|                  0.3|        20.8|
|106203690|       1|12/15/2017 7:26:5...| 12/15/2017 7:34:0...|              1|          1.0|         1|                 N|         262|         236|           1|        6.5|  0.0|    0.5|      1.45|         0.0|                  0.3|        8.75|
| 38942136|       2|05/07/2017 1:17:5...| 05/07/2017 1:48:1...|              1|          3.7|         1|                 N|         188|          97|           1|       20.5|  0.0|    0.5|      6.39|         0.0|                  0.3|       27.69|
| 30841670|       2|04/15/2017 11:32:...| 04/15/2017 11:49:...|              1|         4.37|         1|                 N|           4|         112|           2|       16.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.8|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

22699

In [5]:
df.describe(["trip_distance", "total_amount"]).show()

+-------+------------------+------------------+
|summary|     trip_distance|      total_amount|
+-------+------------------+------------------+
|  count|             22699|             22699|
|   mean|2.9133129212740796| 16.31050222476416|
| stddev|3.6531711828339195|16.097295300636247|
|    min|               0.0|            -120.3|
|    max|             33.96|           1200.29|
+-------+------------------+------------------+

In [6]:
df.summary().show()

+-------+--------------------+------------------+--------------------+---------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+---------------------+------------------+
|summary|                 _c0|          VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|   passenger_count|     trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|       payment_type|       fare_amount|              extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|
+-------+--------------------+------------------+--------------------+---------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+---------------------+------------------+
|  count|               22699|             22699|               22699|                22699|             22699|             22699|             22699|             22699|             22699|             22699|              22699|             22699|              22699|              22699|             22699|             22699|                22699|             22699|
|   mean| 5.675848617128508E7|1.5562359575311688|                null|                 null|1.6423190448918454|2.9133129212740796|1.0433939821137495|              null|162.41235296709107|161.52799682805409|  1.336887087536896|13.026629366932465|0.33327459359443146| 0.4974448213577691|1.8357813119520605|0.3125415216529417|  0.29955064099751805| 16.31050222476416|
| stddev|3.2744929492148545E7|0.4968383961995319|                null|                 null|1.2852311189940233|3.6531711828339195|0.7083908849944119|              null| 66.63337338646542| 70.13969073441459|0.49621105767965806|13.243790516711757|0.46309657874841365|0.03946498733149325|2.8006262722635498| 1.399211931557539| 0.015672737641519604|16.097295300636247|
|    min|               12127|                 1|01/01/2017 10:18:...| 01/01/2017 10:02:...|                 0|               0.0|                 1|                 N|                 1|                 1|                  1|            -120.0|               -1.0|               -0.5|               0.0|               0.0|                 -0.3|            -120.3|
|    25%|            28511537|                 1|                null|                 null|                 1|              0.99|                 1|              null|               114|               112|                  1|               6.5|                0.0|                0.5|               0.0|               0.0|                  0.3|              8.75|
|    50%|            56727323|                 2|                null|                 null|                 1|              1.61|                 1|              null|               162|               162|                  1|               9.5|                0.0|                0.5|              1.35|               0.0|                  0.3|              11.8|
|    75%|            85371008|                 2|                null|                 null|                 2|              3.06|                 1|              null|               233|               233|                  2|              14.5|                0.5|                0.5|              2.45|               0.0|                  0.3|              17.8|
|    max|           113486300|                 2|12/31/2017 9:57:4...| 12/31/2017 9:55:1...|                 6|             33.96|                99|                 Y|               265|               265|                  4|            999.99|                4.5|                0.5|             200.0|              19.1|                  0.3|           1200.29|
+-------+--------------------+------------------+--------------------+---------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+---------------------+------------------+

In [7]:
df.select("passenger_count").distinct().show()

+---------------+
|passenger_count|
+---------------+
|              1|
|              6|
|              3|
|              5|
|              4|
|              2|
|              0|
+---------------+

In [9]:
df_no_duplicates = df.dropDuplicates()

In [10]:
df.dropDuplicates(["tpep_pickup_datetime", "PULocationID"])

DataFrame[_c0: int, VendorID: int, tpep_pickup_datetime: string, tpep_dropoff_datetime: string, passenger_count: int, trip_distance: double, RatecodeID: int, store_and_fwd_flag: string, PULocationID: int, DOLocationID: int, payment_type: int, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double]

In [11]:
clean_df = df.filter(
    (df.trip_distance > 0) &
    (df.total_amount > 0)
)

In [12]:
clean_df = df.where("trip_distance > 0 AND total_amount > 0")

In [13]:
clean_df.filter(clean_df.passenger_count.isNull()).count()

0

In [14]:
clean_df = clean_df.dropna(subset=["passenger_count"])

In [15]:
from pyspark.sql.functions import col

clean_df = clean_df.withColumn(
    "revenue_per_km",
    col("total_amount") / (col("trip_distance") * 1.6)
)

In [16]:
from pyspark.sql.functions import sum

clean_df.select(sum("total_amount")).show()

+-----------------+
|sum(total_amount)|
+-----------------+
|366331.9999999227|
+-----------------+

In [17]:
clean_df.groupBy("passenger_count") \
    .agg(
        sum("total_amount").alias("total_revenue"),
        avg("trip_distance").alias("avg_distance"),
        count("*").alias("trip_count")
    ) \
    .show()

NameError: name 'avg' is not defined

In [18]:
clean_df.orderBy(clean_df.total_amount.desc()) \
    .limit(10) \
    .show()

+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+
|      _c0|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|    revenue_per_km|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+
| 11157412|       1|02/06/2017 5:50:1...| 02/06/2017 5:51:0...|              1|          2.6|         5|                 N|         226|         226|           1|     999.99|  0.0|    0.0|     200.0|         0.0|                  0.3|     1200.29|         288.53125|
| 40523668|       2|05/19/2017 8:20:2...| 05/19/2017 9:20:3...|              1|        33.92|         5|                 N|         229|         265|           1|     200.01|  0.0|    0.5|     51.64|        5.76|                  0.3|      258.21| 4.757701945754716|
| 49894023|       2|06/13/2017 12:30:...| 06/13/2017 1:37:5...|              1|        32.72|         3|                 N|         138|           1|           1|      107.0|  0.0|    0.0|      55.5|       16.26|                  0.3|      179.06| 3.420308679706601|
|101198443|       2|11/30/2017 10:41:...| 11/30/2017 11:31:...|              1|         25.5|         5|                 N|         132|         265|           2|      140.0|  0.0|    0.5|       0.0|       16.26|                  0.3|      157.06|3.8495098039215683|
|111653084|       1|01/01/2017 11:53:...| 01/01/2017 11:53:...|              1|          7.3|         5|                 N|           1|           1|           1|      152.0|  0.0|    0.0|       0.0|         0.0|                  0.3|       152.3|13.039383561643836|
| 51810714|       2|06/18/2017 11:33:...| 06/19/2017 12:12:...|              2|        33.96|         5|                 N|         132|         265|           2|      150.0|  0.0|    0.0|       0.0|         0.0|                  0.3|       150.3|2.7661219081272086|
| 51087145|       1|06/16/2017 6:30:0...| 06/16/2017 7:18:5...|              2|         12.5|         5|                 N|         211|         265|           1|      120.0|  0.0|    0.0|       5.0|        12.5|                  0.3|       137.8| 6.890000000000001|
| 76319330|       2|09/11/2017 11:41:...| 09/11/2017 12:18:...|              1|        31.95|         4|                 N|         138|         265|           2|      131.0|  0.0|    0.5|       0.0|         0.0|                  0.3|       131.8|2.5782472613458527|
| 91660295|       2|10/30/2017 11:23:...| 10/30/2017 11:23:...|              1|         0.32|         5|                 N|         264|          83|           1|      100.0|  0.0|    0.5|      25.2|         0.0|                  0.3|       126.0|         246.09375|
|107690629|       2|12/19/2017 5:00:5...| 12/19/2017 6:41:5...|              2|         23.0|         3|                 N|         151|           1|           1|       99.5|  1.0|    0.0|      10.0|        12.5|                  0.3|       123.3| 3.350543478260869|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+