<a href="https://colab.research.google.com/github/Abhiprameesh/Case-Study-NYC-Taxi-Analytics-Platform/blob/main/Yellow_Taxi_Trip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()

# Create a PySpark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:4 https://cli.github.com/packages stable InRelease [3,917 B]
Get:5 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:6 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:7 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease [24.6 kB]
Get:8 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:9 https://cli.github.com/packages stable/main amd64 Packages [357 B]
Get:10 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [6,861 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [70.9 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [4,107 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,613 kB]
Get:15 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [39.2 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,767 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,302 kB]
Get:18 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [6,626 kB]
Get:19 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy/main amd64 Packages [75.3 kB]
Get:20 http://security.ubuntu.com/ubuntu jammy-security/multiverse amd64 Packages [62.6 kB]
Get:21 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ Packages [85.2 kB]
Get:22 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,785 kB]
Get:23 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,913 kB]
Fetched 37.7 MB in 5s (7,675 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

In [ ]:
df = spark.read.csv(
    "/content/C2_2017_Yellow_Taxi_Trip_Data.csv",
    header=True,
    inferSchema=True
)

In [ ]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

In [ ]:
df.show(5)
df.count()

+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|      _c0|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
| 24870114|       2|03/25/2017 8:55:4...| 03/25/2017 9:09:4...|              6|         3.34|         1|                 N|         100|         231|           1|       13.0|  0.0|    0.5|      2.76|         0.0|                  0.3|       16.56|
| 35634249|       1|04/11/2017 2:53:2...| 04/11/2017 3:19:5...|              1|          1.8|         1|                 N|         186|          43|           1|       16.0|  0.0|    0.5|       4.0|         0.0|                  0.3|        20.8|
|106203690|       1|12/15/2017 7:26:5...| 12/15/2017 7:34:0...|              1|          1.0|         1|                 N|         262|         236|           1|        6.5|  0.0|    0.5|      1.45|         0.0|                  0.3|        8.75|
| 38942136|       2|05/07/2017 1:17:5...| 05/07/2017 1:48:1...|              1|          3.7|         1|                 N|         188|          97|           1|       20.5|  0.0|    0.5|      6.39|         0.0|                  0.3|       27.69|
| 30841670|       2|04/15/2017 11:32:...| 04/15/2017 11:49:...|              1|         4.37|         1|                 N|           4|         112|           2|       16.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.8|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

22699

In [ ]:
df.describe(["trip_distance", "total_amount"]).show()

+-------+------------------+------------------+
|summary|     trip_distance|      total_amount|
+-------+------------------+------------------+
|  count|             22699|             22699|
|   mean|2.9133129212740796| 16.31050222476416|
| stddev|3.6531711828339195|16.097295300636247|
|    min|               0.0|            -120.3|
|    max|             33.96|           1200.29|
+-------+------------------+------------------+

In [ ]:
df.summary().show()

+-------+--------------------+------------------+--------------------+---------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+---------------------+------------------+
|summary|                 _c0|          VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|   passenger_count|     trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|       payment_type|       fare_amount|              extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|
+-------+--------------------+------------------+--------------------+---------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+---------------------+------------------+
|  count|               22699|             22699|               22699|                22699|             22699|             22699|             22699|             22699|             22699|             22699|              22699|             22699|              22699|              22699|             22699|             22699|                22699|             22699|
|   mean| 5.675848617128508E7|1.5562359575311688|                null|                 null|1.6423190448918454|2.9133129212740796|1.0433939821137495|              null|162.41235296709107|161.52799682805409|  1.336887087536896|13.026629366932465|0.33327459359443146| 0.4974448213577691|1.8357813119520605|0.3125415216529417|  0.29955064099751805| 16.31050222476416|
| stddev|3.2744929492148545E7|0.4968383961995319|                null|                 null|1.2852311189940233|3.6531711828339195|0.7083908849944119|              null| 66.63337338646542| 70.13969073441459|0.49621105767965806|13.243790516711757|0.46309657874841365|0.03946498733149325|2.8006262722635498| 1.399211931557539| 0.015672737641519604|16.097295300636247|
|    min|               12127|                 1|01/01/2017 10:18:...| 01/01/2017 10:02:...|                 0|               0.0|                 1|                 N|                 1|                 1|                  1|            -120.0|               -1.0|               -0.5|               0.0|               0.0|                 -0.3|            -120.3|
|    25%|            28511537|                 1|                null|                 null|                 1|              0.99|                 1|              null|               114|               112|                  1|               6.5|                0.0|                0.5|               0.0|               0.0|                  0.3|              8.75|
|    50%|            56727323|                 2|                null|                 null|                 1|              1.61|                 1|              null|               162|               162|                  1|               9.5|                0.0|                0.5|              1.35|               0.0|                  0.3|              11.8|
|    75%|            85371008|                 2|                null|                 null|                 2|              3.06|                 1|              null|               233|               233|                  2|              14.5|                0.5|                0.5|              2.45|               0.0|                  0.3|              17.8|
|    max|           113486300|                 2|12/31/2017 9:57:4...| 12/31/2017 9:55:1...|                 6|             33.96|                99|                 Y|               265|               265|                  4|            999.99|                4.5|                0.5|             200.0|              19.1|                  0.3|           1200.29|
+-------+--------------------+------------------+--------------------+---------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+---------------------+------------------+

In [ ]:
df.select("passenger_count").distinct().show()

+---------------+
|passenger_count|
+---------------+
|              1|
|              6|
|              3|
|              5|
|              4|
|              2|
|              0|
+---------------+

In [ ]:
df_no_duplicates = df.dropDuplicates()

In [ ]:
df.dropDuplicates(["tpep_pickup_datetime", "PULocationID"])

DataFrame[_c0: int, VendorID: int, tpep_pickup_datetime: string, tpep_dropoff_datetime: string, passenger_count: int, trip_distance: double, RatecodeID: int, store_and_fwd_flag: string, PULocationID: int, DOLocationID: int, payment_type: int, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double]

In [ ]:
clean_df = df.filter(
    (df.trip_distance > 0) &
    (df.total_amount > 0)
)

In [ ]:
clean_df = df.where("trip_distance > 0 AND total_amount > 0")

In [ ]:
clean_df.filter(clean_df.passenger_count.isNull()).count()

0

In [ ]:
clean_df = clean_df.dropna(subset=["passenger_count"])

In [ ]:
from pyspark.sql.functions import col

clean_df = clean_df.withColumn(
    "revenue_per_km",
    col("total_amount") / (col("trip_distance") * 1.6)
)

In [ ]:
from pyspark.sql.functions import sum
from pyspark.sql.functions import count
from pyspark.sql.functions import avg

clean_df.select(sum("total_amount")).show()

+-----------------+
|sum(total_amount)|
+-----------------+
|366331.9999999227|
+-----------------+

In [ ]:
clean_df.groupBy("passenger_count") \
    .agg(
        sum("total_amount").alias("total_revenue"),
        avg("trip_distance").alias("avg_distance"),
        count("*").alias("trip_count")
    ) \
    .show()

+---------------+------------------+------------------+----------+
|passenger_count|     total_revenue|      avg_distance|trip_count|
+---------------+------------------+------------------+----------+
|              1|256639.67999996367| 2.860989306484904|     15991|
|              6|11129.749999999973| 3.027267441860466|       688|
|              3| 15732.28999999989|3.0660168598524757|       949|
|              5|18595.189999999773|2.9472154115586684|      1142|
|              4|7421.5000000000355|2.9916666666666654|       450|
|              2| 56309.99000000148|3.2209010654490013|      3285|
|              0|503.60000000000014|2.6093749999999996|        32|
+---------------+------------------+------------------+----------+

In [ ]:
from pyspark.sql.functions import hour, to_timestamp, col

# Convert string datetime (with AM/PM) into proper timestamp
clean_df = clean_df.withColumn(
    "pickup_time",
    to_timestamp(col("tpep_pickup_datetime"), "MM/dd/yyyy h:mm:ss a")
)

# Extract hour from timestamp (0–23)
clean_df = clean_df.withColumn(
    "pickup_hour",
    hour(col("pickup_time"))
)

# Count number of pickups per hour and sort
clean_df.groupBy("pickup_hour") \
    .count() \
    .orderBy("pickup_hour") \
    .show()

+-----------+-----+
|pickup_hour|count|
+-----------+-----+
|          0|  730|
|          1|  521|
|          2|  382|
|          3|  284|
|          4|  231|
|          5|  234|
|          6|  495|
|          7|  850|
|          8| 1012|
|          9| 1102|
|         10| 1035|
|         11| 1085|
|         12| 1106|
|         13| 1120|
|         14| 1220|
|         15| 1163|
|         16| 1121|
|         17| 1208|
|         18| 1440|
|         19| 1445|
+-----------+-----+
only showing top 20 rows

In [ ]:
# Import required functions
from pyspark.sql.functions import hour, to_timestamp, col


clean_df = clean_df.withColumn(
    "pickup_time",
    to_timestamp(col("tpep_pickup_datetime"), "yyyy-MM-dd HH:mm:ss")
)


clean_df = clean_df.withColumn(
    "pickup_hour",
    hour(col("pickup_time"))
)
clean_df.groupBy("pickup_hour") \
    .count() \
    .orderBy("pickup_hour") \
    .show()
clean_df.filter(col("pickup_time").isNull()).show(truncate=False)

+-----------+-----+
|pickup_hour|count|
+-----------+-----+
|       null|22537|
+-----------+-----+

+---------+--------+----------------------+----------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-----------+-----------+
|_c0      |VendorID|tpep_pickup_datetime  |tpep_dropoff_datetime |passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|revenue_per_km    |pickup_time|pickup_hour|
+---------+--------+----------------------+----------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-----------+-----------+
|24870114 |2       |03/25/2017 8:55:43 AM |03/25/2017 9:09:47 AM |6              |3.34         |1         |N                 |100         |231         |1           |13.0       |0.0  |0.5    |2.76      |0.0         |0.3                  |16.56       |3.0988023952095802|null       |null       |
|35634249 |1       |04/11/2017 2:53:28 PM |04/11/2017 3:19:58 PM |1              |1.8          |1         |N                 |186         |43          |1           |16.0       |0.0  |0.5    |4.0       |0.0         |0.3                  |20.8        |7.222222222222221 |null       |null       |
|106203690|1       |12/15/2017 7:26:56 AM |12/15/2017 7:34:08 AM |1              |1.0          |1         |N                 |262         |236         |1           |6.5        |0.0  |0.5    |1.45      |0.0         |0.3                  |8.75        |5.46875           |null       |null       |
|38942136 |2       |05/07/2017 1:17:59 PM |05/07/2017 1:48:14 PM |1              |3.7          |1         |N                 |188         |97          |1           |20.5       |0.0  |0.5    |6.39      |0.0         |0.3                  |27.69       |4.677364864864864 |null       |null       |
|30841670 |2       |04/15/2017 11:32:20 PM|04/15/2017 11:49:03 PM|1              |4.37         |1         |N                 |4           |112         |2           |16.5       |0.5  |0.5    |0.0       |0.0         |0.3                  |17.8        |2.545766590389016 |null       |null       |
|23345809 |2       |03/25/2017 8:34:11 PM |03/25/2017 8:42:11 PM |6              |2.3          |1         |N                 |161         |236         |1           |9.0        |0.5  |0.5    |2.06      |0.0         |0.3                  |12.36       |3.358695652173913 |null       |null       |
|37660487 |2       |05/03/2017 7:04:09 PM |05/03/2017 8:03:47 PM |1              |12.83        |1         |N                 |79          |241         |1           |47.5       |1.0  |0.5    |9.86      |0.0         |0.3                  |59.16       |2.8819173811379573|null       |null       |
|69059411 |2       |08/15/2017 5:41:06 PM |08/15/2017 6:03:05 PM |1              |2.98         |1         |N                 |237         |114         |1           |16.0       |1.0  |0.5    |1.78      |0.0         |0.3                  |19.58       |4.106543624161073 |null       |null       |
|8433159  |2       |02/04/2017 4:17:07 PM |02/04/2017 4:29:14 PM |1              |1.2          |1         |N                 |234         |249         |2           |9.0        |0.0  |0.5    |0.0       |0.0         |0.3                  |9.8         |5.104166666666667 |null       |null       |
|95294817 |1       |11/10/2017 3:20:29 PM |11/10/2017 3:40:55 PM |1              |1.6          |1         |N                 |239         |237         |1           |13.0       |0.0  |0.5    |2.75      |0.0         |0.3                  |16.55       |6.464843749999999 |null       |null       |
|18017909 |2       |03/04/2017 11:58:00 AM|03/04/2017 12:13:12 PM|1              |1.77         |1         |N                 |162         |142         |1           |11.5       |0.0  |0.5    |2.46      |0.0         |0.3                  |14.76       |5.21186440677966  |null       |null       |
|18600059 |2       |03/05/2017 7:15:30 PM |03/05/2017 7:52:18 PM |2              |18.9         |2         |N                 |236         |132         |1           |52.0       |0.0  |0.5    |14.58     |5.54        |0.3                  |72.92       |2.4113756613756614|null       |null       |
|46782248 |1       |06/09/2017 7:00:26 PM |06/09/2017 7:20:11 PM |1              |3.0          |1         |N                 |13          |148         |1           |15.0       |1.0  |0.5    |3.35      |0.0         |0.3                  |20.15       |4.197916666666666 |null       |null       |
|94113247 |2       |11/06/2017 11:35:05 PM|11/06/2017 11:42:57 PM|1              |2.39         |1         |N                 |209         |25          |1           |9.5        |0.5  |0.5    |2.16      |0.0         |0.3                  |12.96       |3.3891213389121337|null       |null       |
|14168279 |1       |02/22/2017 3:18:31 PM |02/22/2017 3:42:50 PM |1              |3.3          |1         |N                 |238         |161         |1           |17.5       |0.0  |0.5    |4.55      |0.0         |0.3                  |22.85       |4.327651515151516 |null       |null       |
|47444401 |2       |06/02/2017 6:41:39 AM |06/02/2017 6:57:47 AM |1              |5.93         |1         |N                 |239         |231         |1           |19.0       |0.0  |0.5    |3.0       |0.0         |0.3                  |22.8        |2.4030354131534573|null       |null       |
|69088676 |1       |08/15/2017 7:48:08 PM |08/15/2017 8:00:37 PM |1              |3.6          |1         |N                 |163         |41          |1           |12.5       |1.0  |0.5    |2.85      |0.0         |0.3                  |17.15       |2.977430555555555 |null       |null       |
|58691513 |2       |07/10/2017 1:36:31 PM |07/10/2017 1:48:43 PM |2              |1.71         |1         |N                 |142         |100         |1           |9.5        |0.0  |0.5    |0.0       |0.0         |0.3                  |10.3        |3.7646198830409356|null       |null       |
|35388828 |2       |04/10/2017 6:12:58 PM |04/10/2017 6:17:39 PM |2              |0.63         |1         |N                 |263         |262         |2           |5.0        |1.0  |0.5    |0.0       |0.0         |0.3                  |6.8         |6.746031746031746 |null       |null       |
|18383214 |2       |03/05/2017 4:01:07 AM |03/05/2017 4:14:11 AM |2              |2.77         |1         |N                 |79          |68          |1           |11.5       |0.5  |0.5    |3.2       |0.0         |0.3                  |16.0        |3.6101083032490973|null       |null       |
+---------+--------+----------------------+----------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-----------+-----------+
only showing top 20 rows

Task1

Task 2

In [ ]:
from pyspark.sql.functions import col

# Create the revenue_per_mile column
clean_df = clean_df.withColumn(
    "revenue_per_mile",
    col("total_amount") / col("trip_distance")
)

print("Added 'revenue_per_mile' column.")

Added 'revenue_per_mile' column.

In [ ]:
from pyspark.sql.functions import avg

# Compute average revenue per mile
avg_revenue_per_mile = clean_df.select(avg("revenue_per_mile").alias("average_revenue_per_mile"))

print("Average Revenue per Mile:")
avg_revenue_per_mile.show()

Average Revenue per Mile:
+------------------------+
|average_revenue_per_mile|
+------------------------+
|       9.475535080491763|
+------------------------+

In [ ]:
# Top 15 trips with highest revenue per mile
print("Top 15 Trips with Highest Revenue per Mile:")
clean_df.orderBy(col("revenue_per_mile").desc()).limit(15).show()

Top 15 Trips with Highest Revenue per Mile:
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+
|      _c0|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|    revenue_per_km|        pickup_time|pickup_hour|  revenue_per_mile|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+
|105577859|       2|12/13/2017 12:19:...| 12/13/2017 12:19:...|              1|         0.01|         2|                 N|         132|         132|           1|       52.0|  0.0|    0.5|     17.57|        5.76|                  0.3|       76.13|          4758.125|2017-12-13 12:19:29|         12| 7612.999999999999|
| 59839344|       2|07/14/2017 6:09:5...| 07/14/2017 6:11:4...|              1|         0.01|         2|                 N|         132|         132|           2|       52.0|  0.0|    0.5|       0.0|        5.76|                  0.3|       58.56|            3660.0|2017-07-14 06:09:54|          6|            5856.0|
| 98165974|       2|11/19/2017 7:17:1...| 11/19/2017 7:17:1...|              1|         0.01|         2|                 N|         264|         239|           2|       52.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        52.8|3299.9999999999995|2017-11-19 07:17:16|          7|            5280.0|
| 39498898|       2|05/16/2017 1:33:2...| 05/16/2017 1:33:3...|              1|         0.01|         2|                 N|         100|         100|           2|       52.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        52.8|3299.9999999999995|2017-05-16 13:33:23|         13|            5280.0|
|104244836|       2|12/09/2017 11:56:...| 12/09/2017 11:58:...|              1|         0.02|         2|                 N|         186|         186|           1|       52.0|  0.0|    0.5|     11.71|        5.76|                  0.3|       70.27|         2195.9375|2017-12-09 11:56:56|         11|3513.4999999999995|
| 68563779|       2|08/13/2017 4:09:3...| 08/13/2017 4:10:5...|              1|         0.03|         3|                 N|         170|         170|           2|       20.5|  0.0|    0.0|       0.0|         0.0|                  0.3|        20.8| 433.3333333333333|2017-08-13 16:09:35|         16| 693.3333333333334|
| 90105531|       1|10/25/2017 6:08:1...| 10/25/2017 6:08:3...|              1|          0.1|         2|                 N|         132|         132|           1|       52.0|  4.5|    0.5|       5.0|        5.76|                  0.3|       68.06|425.37499999999994|2017-10-25 18:08:16|         18|             680.6|
| 66798269|       1|08/07/2017 10:20:...| 08/07/2017 10:20:...|              1|          0.1|         2|                 N|         162|         163|           1|       52.0|  0.0|    0.5|       8.0|        5.76|                  0.3|       66.56|415.99999999999994|2017-08-07 10:20:05|         10|             665.6|
|  2618392|       2|01/10/2017 6:25:4...| 01/10/2017 6:42:0...|              5|         0.02|         1|                 N|         236|         239|           2|       10.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        12.3|           384.375|2017-01-10 18:25:47|         18|             615.0|
| 24719314|       2|03/24/2017 8:59:5...| 03/24/2017 9:00:0...|              1|         0.02|         1|                 N|         255|         255|           1|        2.5|  0.5|    0.5|       7.0|         0.0|                  0.3|        10.8|             337.5|2017-03-24 20:59:58|         20|             540.0|
| 11157412|       1|02/06/2017 5:50:1...| 02/06/2017 5:51:0...|              1|          2.6|         5|                 N|         226|         226|           1|     999.99|  0.0|    0.0|     200.0|         0.0|                  0.3|     1200.29|         288.53125|2017-02-06 05:50:10|          5|            461.65|
| 91660295|       2|10/30/2017 11:23:...| 10/30/2017 11:23:...|              1|         0.32|         5|                 N|         264|          83|           1|      100.0|  0.0|    0.5|      25.2|         0.0|                  0.3|       126.0|         246.09375|2017-10-30 11:23:46|         11|            393.75|
| 99495069|       2|11/24/2017 4:32:1...| 11/24/2017 4:32:2...|              1|         0.01|         1|                 N|         263|         263|           2|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|237.49999999999997|2017-11-24 04:32:18|          4|             380.0|
| 67271410|       2|08/08/2017 11:28:...| 08/08/2017 11:29:...|              2|         0.01|         1|                 N|         132|         132|           2|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|237.49999999999997|2017-08-08 23:28:54|         23|             380.0|
| 26279873|       2|03/31/2017 5:29:1...| 03/31/2017 5:29:3...|              1|         0.01|         1|                 N|         249|         249|           2|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|237.49999999999997|2017-03-31 05:29:19|          5|             380.0|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+

### Task 1: Distance Insights

In [ ]:
# Re-creating clean_df as it was not defined in the previous execution context.
# Filter out rows with trip_distance or total_amount less than or equal to 0
clean_df = df.filter(
    (df.trip_distance > 0) &
    (df.total_amount > 0)
)

In [ ]:
# Drop rows where 'passenger_count' is null
clean_df = clean_df.dropna(subset=["passenger_count"])

In [ ]:
from pyspark.sql.functions import col

# Add 'revenue_per_km' column
clean_df = clean_df.withColumn(
    "revenue_per_km",
    col("total_amount") / (col("trip_distance") * 1.6)
)

In [ ]:
from pyspark.sql.functions import hour, to_timestamp

# Convert string datetime (with AM/PM) into proper timestamp
clean_df = clean_df.withColumn(
    "pickup_time",
    to_timestamp(col("tpep_pickup_datetime"), "MM/dd/yyyy h:mm:ss a")
)

# Extract hour from timestamp (0–23)
clean_df = clean_df.withColumn(
    "pickup_hour",
    hour(col("pickup_time"))
)

In [ ]:
from pyspark.sql.functions import min, max, avg, percentile_approx

# Calculate distance statistics
distance_stats = clean_df.select(
    min("trip_distance").alias("min_trip_distance"),
    max("trip_distance").alias("max_trip_distance"),
    avg("trip_distance").alias("avg_trip_distance"),
    percentile_approx("trip_distance", 0.5, 100).alias("median_trip_distance")
)

# Display the results
distance_stats.show()

+-----------------+-----------------+------------------+--------------------+
|min_trip_distance|max_trip_distance| avg_trip_distance|median_trip_distance|
+-----------------+-----------------+------------------+--------------------+
|             0.01|            33.96|2.9337808936415817|                 1.6|
+-----------------+-----------------+------------------+--------------------+

### Task 3: Passenger Demand Pattern

In [ ]:
from pyspark.sql.functions import sum, avg, count

# Calculate passenger performance metrics
passenger_performance = clean_df.groupBy("passenger_count") \
    .agg(
        count("*").alias("total_trips"),
        avg("trip_distance").alias("average_trip_distance"),
        sum("total_amount").alias("total_revenue")
    ) \
    .orderBy("passenger_count")

# Display the results
print("Passenger Performance Table:")
passenger_performance.show()

Passenger Performance Table:
+---------------+-----------+---------------------+------------------+
|passenger_count|total_trips|average_trip_distance|     total_revenue|
+---------------+-----------+---------------------+------------------+
|              0|         32|   2.6093749999999996|503.60000000000014|
|              1|      15991|    2.860989306484904|256639.67999996367|
|              2|       3285|   3.2209010654490013| 56309.99000000148|
|              3|        949|   3.0660168598524757| 15732.28999999989|
|              4|        450|   2.9916666666666654|7421.5000000000355|
|              5|       1142|   2.9472154115586684|18595.189999999773|
|              6|        688|    3.027267441860466|11129.749999999973|
+---------------+-----------+---------------------+------------------+

### Task 4: Pickup Time Analytics

In [ ]:
from pyspark.sql.functions import dayofweek

# Extract weekday from timestamp (1 = Sunday, 7 = Saturday)
clean_df = clean_df.withColumn(
    "pickup_weekday",
    dayofweek(col("pickup_time"))
)

print("Added 'pickup_weekday' column.")

Added 'pickup_weekday' column.

In [ ]:
from pyspark.sql.functions import count

# Count trips per hour
trips_per_hour = clean_df.groupBy("pickup_hour") \
    .agg(count("*").alias("total_trips")) \
    .orderBy("pickup_hour")

print("Trips per Hour:")
trips_per_hour.show()

Trips per Hour:
+-----------+-----------+
|pickup_hour|total_trips|
+-----------+-----------+
|          0|        730|
|          1|        521|
|          2|        382|
|          3|        284|
|          4|        231|
|          5|        234|
|          6|        495|
|          7|        850|
|          8|       1012|
|          9|       1102|
|         10|       1035|
|         11|       1085|
|         12|       1106|
|         13|       1120|
|         14|       1220|
|         15|       1163|
|         16|       1121|
|         17|       1208|
|         18|       1440|
|         19|       1445|
+-----------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import avg

# Compute average revenue per weekday
avg_revenue_per_weekday = clean_df.groupBy("pickup_weekday") \
    .agg(avg("total_amount").alias("average_revenue")) \
    .orderBy("pickup_weekday")

print("Average Revenue per Weekday:")
avg_revenue_per_weekday.show()

Average Revenue per Weekday:
+--------------+------------------+
|pickup_weekday|   average_revenue|
+--------------+------------------+
|             1| 16.08965725806481|
|             2|16.873152658662416|
|             3|16.144403032217614|
|             4|16.334314540059673|
|             5|16.785422723227946|
|             6|16.396767050487565|
|             7|15.210205847255702|
+--------------+------------------+

### Task 5: Trip Duration Engineering

In [ ]:
from pyspark.sql.functions import col, to_timestamp

# Convert dropoff datetime string to timestamp
clean_df = clean_df.withColumn(
    "dropoff_time",
    to_timestamp(col("tpep_dropoff_datetime"), "MM/dd/yyyy h:mm:ss a")
)

# Calculate trip duration in minutes
# (dropoff_time - pickup_time) gives an interval, cast to long to get seconds, then divide by 60
clean_df = clean_df.withColumn(
    "trip_duration_minutes",
    (col("dropoff_time").cast("long") - col("pickup_time").cast("long")) / 60
)

print("Added 'trip_duration_minutes' column.")

Added 'trip_duration_minutes' column.

In [ ]:
from pyspark.sql.functions import avg

# Compute average duration
avg_duration = clean_df.select(avg("trip_duration_minutes").alias("average_trip_duration_minutes"))

print("Average Trip Duration:")
avg_duration.show()

Average Trip Duration:
+-----------------------------+
|average_trip_duration_minutes|
+-----------------------------+
|           17.064017689429182|
+-----------------------------+

In [ ]:
from pyspark.sql.functions import desc

# Longest 10 trips
print("Top 10 Longest Trips (by duration):")
clean_df.orderBy(desc("trip_duration_minutes")).limit(10).show()

Top 10 Longest Trips (by duration):
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+--------------+-------------------+---------------------+
|      _c0|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|    revenue_per_km|        pickup_time|pickup_hour|  revenue_per_mile|pickup_weekday|       dropoff_time|trip_duration_minutes|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+--------------+-------------------+---------------------+
|  9397494|       2|02/09/2017 11:24:...| 02/10/2017 11:24:...|              5|         4.86|         1|                 N|         249|         238|           1|       17.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        18.8|2.4176954732510287|2017-02-09 23:24:58|         23| 3.868312757201646|             5|2017-02-10 23:24:31|              1439.55|
| 41838754|       2|05/10/2017 6:53:5...| 05/11/2017 6:53:0...|              5|         0.74|         1|                 N|         161|         162|           2|        7.0|  1.0|    0.5|       0.0|         0.0|                  0.3|         8.8| 7.432432432432433|2017-05-10 18:53:53|         18|11.891891891891893|             4|2017-05-11 18:53:02|              1439.15|
| 64882047|       2|07/31/2017 2:04:2...| 08/01/2017 2:03:1...|              5|         0.95|         1|                 N|         162|         161|           1|        8.0|  0.0|    0.5|      1.76|         0.0|                  0.3|       10.56| 6.947368421052632|2017-07-31 14:04:25|         14|11.115789473684211|             2|2017-08-01 14:03:16|              1438.85|
| 27567057|       2|04/03/2017 9:02:4...| 04/04/2017 9:01:2...|              1|         1.73|         1|                 N|         107|         249|           2|        9.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.3|3.7210982658959537|2017-04-03 21:02:49|         21|5.9537572254335265|             2|2017-04-04 21:01:28|              1438.65|
| 30152527|       2|04/13/2017 11:41:...| 04/14/2017 11:39:...|              2|         1.99|         1|                 N|         239|         166|           2|        7.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|  2.60678391959799|2017-04-13 23:41:09|         23| 4.170854271356784|             5|2017-04-14 23:39:42|              1438.55|
| 55106408|       2|06/30/2017 8:36:0...| 07/01/2017 8:34:2...|              1|         1.09|         1|                 N|          48|         161|           2|        7.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3| 4.759174311926605|2017-06-30 20:36:00|         20| 7.614678899082569|             6|2017-07-01 20:34:28|   1438.4666666666667|
|106024452|       2|12/14/2017 5:21:3...| 12/15/2017 5:19:5...|              1|         3.13|         1|                 N|         236|         186|           2|       29.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        31.3|              6.25|2017-12-14 17:21:37|         17|              10.0|             5|2017-12-15 17:19:53|   1438.2666666666667|
| 50245266|       2|06/14/2017 11:51:...| 06/15/2017 11:49:...|              5|         2.93|         1|                 N|         107|         141|           2|       18.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        19.3|4.1168941979522184|2017-06-14 11:51:18|         11| 6.587030716723549|             4|2017-06-15 11:49:20|   1438.0333333333333|
| 54862162|       2|06/27/2017 4:52:0...| 06/28/2017 4:49:5...|              1|         15.6|         2|                 N|         163|         132|           1|       52.0|  4.5|    0.5|       0.0|         0.0|                  0.3|        57.3|2.2956730769230766|2017-06-27 16:52:07|         16| 3.673076923076923|             3|2017-06-28 16:49:57|   1437.8333333333333|
| 83629358|       2|10/05/2017 10:51:...| 10/06/2017 10:48:...|              1|          4.7|         1|                 N|         211|         142|           2|       23.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        24.3| 3.231382978723404|2017-10-05 10:51:03|         10| 5.170212765957447|             5|2017-10-06 10:48:01|   1436.9666666666667|
+---------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+--------------+-------------------+---------------------+

In [ ]:
from pyspark.sql.functions import count

# Trips shorter than 2 minutes (data anomaly check)
short_trips_count = clean_df.filter(col("trip_duration_minutes") < 2).count()

print(f"Number of trips shorter than 2 minutes: {short_trips_count}")

Number of trips shorter than 2 minutes: 383

In [ ]:
import os
if not os.path.exists("/content/taxi+_zone_lookup.csv"):
    !wget -q https://raw.githubusercontent.com/databricks-academy/data-engineering-with-databricks-2023/main/retail-org/taxi_zone_lookup.csv -O /content/taxi+_zone_lookup.csv
zone_df = spark.read.csv(
    "/content/taxi+_zone_lookup.csv",
    header=True,
    inferSchema=True
)
print("Zone lookup data loaded into zone_df.")

Zone lookup data loaded into zone_df.

In [ ]:
from pyspark.sql.functions import col, count, lit

# Count total trips to calculate percentages later
total_trips = clean_df_with_borough.count()

# Group by 'Borough', count trips, and calculate the proportion
borough_trip_proportions = clean_df_with_borough.groupBy("Borough") \
    .agg(count("*").alias("trip_count")) \
    .withColumn("proportion", col("trip_count") / lit(total_trips) * 100) \
    .orderBy(col("trip_count").desc())

print("Proportion of Trips per Borough:")
borough_trip_proportions.show(truncate=False)

Proportion of Trips per Borough:
+-------+----------+----------+
|Borough|trip_count|proportion|
+-------+----------+----------+
|null   |22537     |100.0     |
+-------+----------+----------+

In [ ]:
print("Schema of zone_df:")
zone_df.printSchema()

print("First 5 rows of zone_df:")
zone_df.show(5, truncate=False)

Schema of zone_df:
root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

First 5 rows of zone_df:
+----------+-------+----+------------+
|LocationID|Borough|Zone|service_zone|
+----------+-------+----+------------+
+----------+-------+----+------------+

In [ ]:
print(f"Count of rows in zone_df: {zone_df.count()}")

print("Content of taxi_zone_lookup_renamed.csv:")
!head /content/taxi_zone_lookup_renamed.csv

Count of rows in zone_df: 0
Content of taxi_zone_lookup_renamed.csv:

In [ ]:
import os

original_file_path = "/content/taxi+_zone_lookup.csv"
renamed_file_path = "/content/taxi_zone_lookup_renamed.csv"

# Remove the renamed file if it exists and is empty/corrupted
if os.path.exists(renamed_file_path):
    os.remove(renamed_file_path)
    print(f"Removed existing file: {renamed_file_path}")

# Re-download the file
!wget -q https://raw.githubusercontent.com/databricks-academy/data-engineering-with-databricks-2023/main/retail-org/taxi_zone_lookup.csv -O "$original_file_path"
print(f"Re-downloaded file to: {original_file_path}")

# Rename the file again
if os.path.exists(original_file_path) and not os.path.exists(renamed_file_path):
    !mv "$original_file_path" "$renamed_file_path"
    print(f"File renamed from {original_file_path} to {renamed_file_path}")

print("File download and renaming complete.")

Removed existing file: /content/taxi_zone_lookup_renamed.csv
Re-downloaded file to: /content/taxi+_zone_lookup.csv
File renamed from /content/taxi+_zone_lookup.csv to /content/taxi_zone_lookup_renamed.csv
File download and renaming complete.

In [ ]:
import os
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Define the original and new file paths
original_file_path = "/content/taxi+_zone_lookup.csv"
renamed_file_path = "/content/taxi_zone_lookup_renamed.csv"

# Define the schema explicitly for the zone lookup file
zone_schema = StructType([
    StructField("LocationID", IntegerType(), True),
    StructField("Borough", StringType(), True),
    StructField("Zone", StringType(), True),
    StructField("service_zone", StringType(), True)
])

# Load zone_df using the renamed file and explicit schema
zone_df = spark.read.csv(
    renamed_file_path,
    header=True,
    schema=zone_schema # Use explicit schema instead of inferSchema=True
)

# Join clean_df with zone_df on PULocationID
clean_df_with_borough = clean_df.join(
    zone_df.withColumnRenamed("LocationID", "PULocationID"),
    on="PULocationID",
    how="left"
)

print("Joined taxi trip data with zone lookup data to add borough information.")
clean_df_with_borough.printSchema()
clean_df_with_borough.show(5, truncate=False)

Joined taxi trip data with zone lookup data to add borough information.
root
 |-- PULocationID: integer (nullable = true)
 |-- _c0: integer (nullable = true)
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- revenue_per_km: double (nullable = true)
 |-- pickup_time: timestamp (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- revenue_per_mile: double (nullable = true)
 |-- pickup_weekday: integer (nullable = true)
 |-- dropoff_time: timestamp (nullable = true)
 |-- trip_duration_minutes: double (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

+------------+---------+--------+----------------------+----------------------+---------------+-------------+----------+------------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+--------------+-------------------+---------------------+-------+----+------------+
|PULocationID|_c0      |VendorID|tpep_pickup_datetime  |tpep_dropoff_datetime |passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|revenue_per_km    |pickup_time        |pickup_hour|revenue_per_mile  |pickup_weekday|dropoff_time       |trip_duration_minutes|Borough|Zone|service_zone|
+------------+---------+--------+----------------------+----------------------+---------------+-------------+----------+------------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+--------------+-------------------+---------------------+-------+----+------------+
|100         |24870114 |2       |03/25/2017 8:55:43 AM |03/25/2017 9:09:47 AM |6              |3.34         |1         |N                 |231         |1           |13.0       |0.0  |0.5    |2.76      |0.0         |0.3                  |16.56       |3.0988023952095802|2017-03-25 08:55:43|8          |4.958083832335329 |7             |2017-03-25 09:09:47|14.066666666666666   |null   |null|null        |
|186         |35634249 |1       |04/11/2017 2:53:28 PM |04/11/2017 3:19:58 PM |1              |1.8          |1         |N                 |43          |1           |16.0       |0.0  |0.5    |4.0       |0.0         |0.3                  |20.8        |7.222222222222221 |2017-04-11 14:53:28|14         |11.555555555555555|3             |2017-04-11 15:19:58|26.5                 |null   |null|null        |
|262         |106203690|1       |12/15/2017 7:26:56 AM |12/15/2017 7:34:08 AM |1              |1.0          |1         |N                 |236         |1           |6.5        |0.0  |0.5    |1.45      |0.0         |0.3                  |8.75        |5.46875           |2017-12-15 07:26:56|7          |8.75              |6             |2017-12-15 07:34:08|7.2                  |null   |null|null        |
|188         |38942136 |2       |05/07/2017 1:17:59 PM |05/07/2017 1:48:14 PM |1              |3.7          |1         |N                 |97          |1           |20.5       |0.0  |0.5    |6.39      |0.0         |0.3                  |27.69       |4.677364864864864 |2017-05-07 13:17:59|13         |7.4837837837837835|1             |2017-05-07 13:48:14|30.25                |null   |null|null        |
|4           |30841670 |2       |04/15/2017 11:32:20 PM|04/15/2017 11:49:03 PM|1              |4.37         |1         |N                 |112         |2           |16.5       |0.5  |0.5    |0.0       |0.0         |0.3                  |17.8        |2.545766590389016 |2017-04-15 23:32:20|23         |4.073226544622425 |7             |2017-04-15 23:49:03|16.716666666666665   |null   |null|null        |
+------------+---------+--------+----------------------+----------------------+---------------+-------------+----------+------------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+--------------+-------------------+---------------------+-------+----+------------+
only showing top 5 rows

In [ ]:
print("Schema of zone_df after loading with explicit schema:")
zone_df.printSchema()

print("First 5 rows of zone_df after loading with explicit schema:")
zone_df.show(5, truncate=False)

print(f"Count of rows in zone_df: {zone_df.count()}")

Schema of zone_df after loading with explicit schema:
root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

First 5 rows of zone_df after loading with explicit schema:
+----------+-------+----+------------+
|LocationID|Borough|Zone|service_zone|
+----------+-------+----+------------+
+----------+-------+----+------------+

Count of rows in zone_df: 0

In [ ]:
print("Verifying content of taxi_zone_lookup_renamed.csv:")
!ls -lh /content/taxi_zone_lookup_renamed.csv
!head /content/taxi_zone_lookup_renamed.csv

Verifying content of taxi_zone_lookup_renamed.csv:
-rw-r--r-- 1 root root 0 Feb 26 06:46 /content/taxi_zone_lookup_renamed.csv

In [ ]:
import os
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

original_file_path = "/content/taxi+_zone_lookup.csv"
renamed_file_path = "/content/taxi_zone_lookup_renamed.csv"

# Ensure the old, empty file is removed before trying to download again
if os.path.exists(renamed_file_path) and os.path.getsize(renamed_file_path) == 0:
    os.remove(renamed_file_path)
    print(f"Removed empty file: {renamed_file_path}")

# Re-download the file. Removed -q to potentially see errors.
# Remove the old original file if it exists to ensure a fresh download
if os.path.exists(original_file_path):
    os.remove(original_file_path)
!wget https://raw.githubusercontent.com/databricks-academy/data-engineering-with-databricks-2023/main/retail-org/taxi_zone_lookup.csv -O "$original_file_path"
print(f"Re-downloaded file to: {original_file_path}")

# Rename the file again
if os.path.exists(original_file_path):
    if os.path.exists(renamed_file_path):
        os.remove(renamed_file_path) # Remove if already exists to prevent mv error
    !mv "$original_file_path" "$renamed_file_path"
    print(f"File renamed from {original_file_path} to {renamed_file_path}")

# Verify if the downloaded file is not empty
if not os.path.exists(renamed_file_path) or os.path.getsize(renamed_file_path) == 0:
    print(f"Error: The downloaded file {renamed_file_path} is still empty. Cannot proceed with loading data.")
    # The subtask cannot be completed successfully without the data
else:
    print(f"File {renamed_file_path} successfully downloaded and verified (size: {os.path.getsize(renamed_file_path)} bytes).")

    # Define the schema explicitly for the zone lookup file
    zone_schema = StructType([
        StructField("LocationID", IntegerType(), True),
        StructField("Borough", StringType(), True),
        StructField("Zone", StringType(), True),
        StructField("service_zone", StringType(), True)
    ])

    # Load zone_df using the renamed file and explicit schema
    zone_df = spark.read.csv(
        renamed_file_path,
        header=True,
        schema=zone_schema # Use explicit schema instead of inferSchema=True
    )

    # Join clean_df with zone_df on PULocationID
    clean_df_with_borough = clean_df.join(
        zone_df.withColumnRenamed("LocationID", "PULocationID"),
        on="PULocationID",
        how="left"
    )

    print("Joined taxi trip data with zone lookup data to add borough information.")
    clean_df_with_borough.printSchema()
    clean_df_with_borough.show(5, truncate=False)

Removed empty file: /content/taxi_zone_lookup_renamed.csv
--2026-02-26 06:47:45--  https://raw.githubusercontent.com/databricks-academy/data-engineering-with-databricks-2023/main/retail-org/taxi_zone_lookup.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2026-02-26 06:47:45 ERROR 404: Not Found.

Re-downloaded file to: /content/taxi+_zone_lookup.csv
File renamed from /content/taxi+_zone_lookup.csv to /content/taxi_zone_lookup_renamed.csv
Error: The downloaded file /content/taxi_zone_lookup_renamed.csv is still empty. Cannot proceed with loading data.

In [ ]:
import os
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

original_download_path = "/content/taxi_zone_lookup.csv"
renamed_file_path = "/content/taxi_zone_lookup_renamed.csv"

# 1. Remove any existing files to ensure a clean download
if os.path.exists(original_download_path):
    os.remove(original_download_path)
    print(f"Removed existing file: {original_download_path}")
if os.path.exists(renamed_file_path):
    os.remove(renamed_file_path)
    print(f"Removed existing file: {renamed_file_path}")

# 2. Download the file from the corrected URL
new_url = "https://raw.githubusercontent.com/toddwschneider/nyc-taxi-data/master/taxi_zone_lookup.csv"
!wget "{new_url}" -O "{original_download_path}"
print(f"Downloaded file from {new_url} to: {original_download_path}")

# 3. Rename the downloaded file
if os.path.exists(original_download_path):
    os.rename(original_download_path, renamed_file_path)
    print(f"File renamed from {original_download_path} to {renamed_file_path}")
else:
    print(f"Error: Original downloaded file {original_download_path} not found.")

# 4. Verify that the file exists and is not empty
if not os.path.exists(renamed_file_path) or os.path.getsize(renamed_file_path) == 0:
    print(f"Error: The downloaded file {renamed_file_path} is empty or does not exist. Cannot proceed with loading data.")
else:
    print(f"File {renamed_file_path} successfully downloaded and verified (size: {os.path.getsize(renamed_file_path)} bytes).\n")

    # 5. Define the zone_schema explicitly
    zone_schema = StructType([
        StructField("LocationID", IntegerType(), True),
        StructField("Borough", StringType(), True),
        StructField("Zone", StringType(), True),
        StructField("service_zone", StringType(), True)
    ])

    # 6. Load zone_df using the renamed file and explicit schema
    zone_df = spark.read.csv(
        renamed_file_path,
        header=True,
        schema=zone_schema
    )

    # 7. Print the schema of zone_df and show its first 5 rows
    print("Schema of zone_df:")
    zone_df.printSchema()
    print("\nFirst 5 rows of zone_df:")
    zone_df.show(5, truncate=False)

    # 8. Print the total count of rows in zone_df
    print(f"\nTotal count of rows in zone_df: {zone_df.count()}")

Removed existing file: /content/taxi_zone_lookup_renamed.csv
--2026-02-26 06:48:28--  https://raw.githubusercontent.com/toddwschneider/nyc-taxi-data/master/taxi_zone_lookup.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2026-02-26 06:48:28 ERROR 404: Not Found.

Downloaded file from https://raw.githubusercontent.com/toddwschneider/nyc-taxi-data/master/taxi_zone_lookup.csv to: /content/taxi_zone_lookup.csv
File renamed from /content/taxi_zone_lookup.csv to /content/taxi_zone_lookup_renamed.csv
Error: The downloaded file /content/taxi_zone_lookup_renamed.csv is empty or does not exist. Cannot proceed with loading data.

In [ ]:
import os
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

original_download_path = "/content/taxi_zone_lookup.csv"
renamed_file_path = "/content/taxi_zone_lookup_renamed.csv"

# 1. Remove any existing files to ensure a clean download
if os.path.exists(original_download_path):
    os.remove(original_download_path)
    print(f"Removed existing file: {original_download_path}")
if os.path.exists(renamed_file_path):
    os.remove(renamed_file_path)
    print(f"Removed existing file: {renamed_file_path}")

# 2. Download the file from the corrected URL
# Found a working URL from a similar dataset source
new_url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"
!wget "{new_url}" -O "{original_download_path}"
print(f"Downloaded file from {new_url} to: {original_download_path}")

# 3. Rename the downloaded file
if os.path.exists(original_download_path):
    os.rename(original_download_path, renamed_file_path)
    print(f"File renamed from {original_download_path} to {renamed_file_path}")
else:
    print(f"Error: Original downloaded file {original_download_path} not found.")

# 4. Verify that the file exists and is not empty
if not os.path.exists(renamed_file_path) or os.path.getsize(renamed_file_path) == 0:
    print(f"Error: The downloaded file {renamed_file_path} is empty or does not exist. Cannot proceed with loading data.")
else:
    print(f"File {renamed_file_path} successfully downloaded and verified (size: {os.path.getsize(renamed_file_path)} bytes).\n")

    # 5. Define the zone_schema explicitly
    zone_schema = StructType([
        StructField("LocationID", IntegerType(), True),
        StructField("Borough", StringType(), True),
        StructField("Zone", StringType(), True),
        StructField("service_zone", StringType(), True)
    ])

    # 6. Load zone_df using the renamed file and explicit schema
    zone_df = spark.read.csv(
        renamed_file_path,
        header=True,
        schema=zone_schema
    )

    # 7. Print the schema of zone_df and show its first 5 rows
    print("Schema of zone_df:")
    zone_df.printSchema()
    print("\nFirst 5 rows of zone_df:")
    zone_df.show(5, truncate=False)

    # 8. Print the total count of rows in zone_df
    print(f"\nTotal count of rows in zone_df: {zone_df.count()}")

Removed existing file: /content/taxi_zone_lookup_renamed.csv
--2026-02-26 06:48:46--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.38.181, 18.239.38.147, 18.239.38.163, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.38.181|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘/content/taxi_zone_lookup.csv’

/content/taxi_zone_ 100%[===================>]  12.04K  --.-KB/s    in 0s

2026-02-26 06:48:46 (193 MB/s) - ‘/content/taxi_zone_lookup.csv’ saved [12331/12331]

Downloaded file from https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv to: /content/taxi_zone_lookup.csv
File renamed from /content/taxi_zone_lookup.csv to /content/taxi_zone_lookup_renamed.csv
File /content/taxi_zone_lookup_renamed.csv successfully downloaded and verified (size: 12331 bytes).

Schema of zone_df:
root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)


First 5 rows of zone_df:
+----------+-------------+-----------------------+------------+
|LocationID|Borough      |Zone                   |service_zone|
+----------+-------------+-----------------------+------------+
|1         |EWR          |Newark Airport         |EWR         |
|2         |Queens       |Jamaica Bay            |Boro Zone   |
|3         |Bronx        |Allerton/Pelham Gardens|Boro Zone   |
|4         |Manhattan    |Alphabet City          |Yellow Zone |
|5         |Staten Island|Arden Heights          |Boro Zone   |
+----------+-------------+-----------------------+------------+
only showing top 5 rows


Total count of rows in zone_df: 265

In [ ]:
from pyspark.sql.functions import col

# Rename 'LocationID' in zone_df to 'PULocationID' to match clean_df
zone_df_renamed = zone_df.withColumnRenamed("LocationID", "PULocationID")

# Perform a left join operation between clean_df and the renamed zone_df
clean_df_with_borough = clean_df.join(
    zone_df_renamed,
    on="PULocationID",
    how="left"
)

# Display the schema of the new clean_df_with_borough DataFrame
print("Schema of clean_df_with_borough:")
clean_df_with_borough.printSchema()

# Show the first 5 rows of the clean_df_with_borough DataFrame to verify the join
print("\nFirst 5 rows of clean_df_with_borough:")
clean_df_with_borough.show(5, truncate=False)

Schema of clean_df_with_borough:
root
 |-- PULocationID: integer (nullable = true)
 |-- _c0: integer (nullable = true)
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- revenue_per_km: double (nullable = true)
 |-- pickup_time: timestamp (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- revenue_per_mile: double (nullable = true)
 |-- pickup_weekday: integer (nullable = true)
 |-- dropoff_time: timestamp (nullable = true)
 |-- trip_duration_minutes: double (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)


First 5 rows of clean_df_with_borough:
+------------+---------+--------+----------------------+----------------------+---------------+-------------+----------+------------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+--------------+-------------------+---------------------+---------+----------------------------+------------+
|PULocationID|_c0      |VendorID|tpep_pickup_datetime  |tpep_dropoff_datetime |passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|revenue_per_km    |pickup_time        |pickup_hour|revenue_per_mile  |pickup_weekday|dropoff_time       |trip_duration_minutes|Borough  |Zone                        |service_zone|
+------------+---------+--------+----------------------+----------------------+---------------+-------------+----------+------------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+--------------+-------------------+---------------------+---------+----------------------------+------------+
|100         |24870114 |2       |03/25/2017 8:55:43 AM |03/25/2017 9:09:47 AM |6              |3.34         |1         |N                 |231         |1           |13.0       |0.0  |0.5    |2.76      |0.0         |0.3                  |16.56       |3.0988023952095802|2017-03-25 08:55:43|8          |4.958083832335329 |7             |2017-03-25 09:09:47|14.066666666666666   |Manhattan|Garment District            |Yellow Zone |
|186         |35634249 |1       |04/11/2017 2:53:28 PM |04/11/2017 3:19:58 PM |1              |1.8          |1         |N                 |43          |1           |16.0       |0.0  |0.5    |4.0       |0.0         |0.3                  |20.8        |7.222222222222221 |2017-04-11 14:53:28|14         |11.555555555555555|3             |2017-04-11 15:19:58|26.5                 |Manhattan|Penn Station/Madison Sq West|Yellow Zone |
|262         |106203690|1       |12/15/2017 7:26:56 AM |12/15/2017 7:34:08 AM |1              |1.0          |1         |N                 |236         |1           |6.5        |0.0  |0.5    |1.45      |0.0         |0.3                  |8.75        |5.46875           |2017-12-15 07:26:56|7          |8.75              |6             |2017-12-15 07:34:08|7.2                  |Manhattan|Yorkville East              |Yellow Zone |
|188         |38942136 |2       |05/07/2017 1:17:59 PM |05/07/2017 1:48:14 PM |1              |3.7          |1         |N                 |97          |1           |20.5       |0.0  |0.5    |6.39      |0.0         |0.3                  |27.69       |4.677364864864864 |2017-05-07 13:17:59|13         |7.4837837837837835|1             |2017-05-07 13:48:14|30.25                |Brooklyn |Prospect-Lefferts Gardens   |Boro Zone   |
|4           |30841670 |2       |04/15/2017 11:32:20 PM|04/15/2017 11:49:03 PM|1              |4.37         |1         |N                 |112         |2           |16.5       |0.5  |0.5    |0.0       |0.0         |0.3                  |17.8        |2.545766590389016 |2017-04-15 23:32:20|23         |4.073226544622425 |7             |2017-04-15 23:49:03|16.716666666666665   |Manhattan|Alphabet City               |Yellow Zone |
+------------+---------+--------+----------------------+----------------------+---------------+-------------+----------+------------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+-------------------+-----------+------------------+--------------+-------------------+---------------------+---------+----------------------------+------------+
only showing top 5 rows

## Compute Total Revenue per Borough

### Subtask:
Group the joined DataFrame by 'Borough' and calculate the sum of 'total_amount' to determine the total revenue for each Borough.

In [ ]:
from pyspark.sql.functions import sum, col

# Group by 'Borough' and calculate the sum of 'total_amount'
total_revenue_per_borough = clean_df_with_borough.groupBy("Borough") \
    .agg(sum("total_amount").alias("total_revenue")) \
    .orderBy(col("total_revenue").desc())

# Display the results
print("Total Revenue per Borough:")
total_revenue_per_borough.show(truncate=False)

Total Revenue per Borough:
+-------------+------------------+
|Borough      |total_revenue     |
+-------------+------------------+
|Manhattan    |293290.699999942  |
|Queens       |61479.07000000016 |
|Unknown      |5578.510000000022 |
|Brooklyn     |5308.000000000016 |
|Bronx        |258.93000000000006|
|N/A          |257.19            |
|EWR          |152.3             |
|Staten Island|7.3               |
+-------------+------------------+

## Compute Average Trip Distance per Borough

### Subtask:
Group the joined DataFrame by 'Borough' and calculate the average of 'trip_distance' to find the average trip distance for each Borough.

In [ ]:
from pyspark.sql.functions import avg, col

# Group by 'Borough' and calculate the average of 'trip_distance'
average_trip_distance_per_borough = clean_df_with_borough.groupBy("Borough") \
    .agg(avg("trip_distance").alias("average_trip_distance")) \
    .orderBy("Borough")

# Display the results
print("Average Trip Distance per Borough:")
average_trip_distance_per_borough.show(truncate=False)

Average Trip Distance per Borough:
+-------------+---------------------+
|Borough      |average_trip_distance|
+-------------+---------------------+
|Bronx        |3.8593750000000004   |
|Brooklyn     |3.4224358974358995   |
|EWR          |7.3                  |
|Manhattan    |2.3759209050568213   |
|N/A          |4.227142857142857    |
|Queens       |11.148119970738836   |
|Staten Island|1.43                 |
|Unknown      |3.031472392638033    |
+-------------+---------------------+

## Display Borough Performance Table

In [ ]:
from pyspark.sql.functions import col

# Join the total_revenue_per_borough DataFrame with the average_trip_distance_per_borough DataFrame
borough_performance_table = total_revenue_per_borough.join(
    average_trip_distance_per_borough,
    on="Borough",
    how="inner"
).orderBy("Borough")

# Display the borough_performance_table DataFrame
print("Borough Performance Table:")
borough_performance_table.show(truncate=False)

Borough Performance Table:
+-------------+------------------+---------------------+
|Borough      |total_revenue     |average_trip_distance|
+-------------+------------------+---------------------+
|Bronx        |258.93000000000006|3.8593750000000004   |
|Brooklyn     |5308.000000000016 |3.4224358974358995   |
|EWR          |152.3             |7.3                  |
|Manhattan    |293290.699999942  |2.3759209050568213   |
|N/A          |257.19            |4.227142857142857    |
|Queens       |61479.07000000016 |11.148119970738836   |
|Staten Island|7.3               |1.43                 |
|Unknown      |5578.510000000022 |3.031472392638033    |
+-------------+------------------+---------------------+

## Top 10 Pickup Zones by Trips

In [ ]:
from pyspark.sql.functions import col, count

# Group by 'Zone', count trips, and order the results
top_10_pickup_zones = clean_df_with_borough.groupBy("Zone") \
    .agg(count("*").alias("total_pickups")) \
    .orderBy(col("total_pickups").desc()) \
    .limit(10)

# Display the results
print("Top 10 Pickup Zones by Trips:")
top_10_pickup_zones.show(truncate=False)

Top 10 Pickup Zones by Trips:
+----------------------------+-------------+
|Zone                        |total_pickups|
+----------------------------+-------------+
|Upper East Side South       |888          |
|Midtown Center              |858          |
|Penn Station/Madison Sq West|786          |
|Upper East Side North       |784          |
|Midtown East                |771          |
|Union Sq                    |746          |
|Murray Hill                 |745          |
|Clinton East                |740          |
|Times Sq/Theatre District   |735          |
|Lincoln Square East         |647          |
+----------------------------+-------------+

## Top 10 Dropoff Zones by Revenue

**Reasoning**:
The previous code failed due to an `IndentationError`. I need to correct the indentation for the `.limit(10)` method call to properly chain it with the `.orderBy()` method.

**Reasoning**:
The previous code consistently failed due to an `IndentationError` where `.limit(10)` was on a new, incorrectly indented line. I will correct this by placing `.limit(10)` on the same line as `.orderBy(col("total_revenue").desc())` to ensure proper method chaining.

In [ ]:
from pyspark.sql.functions import sum, col

# 1. Group by 'DOLocationID' and calculate the sum of 'total_amount'
dropoff_revenue_df = clean_df_with_borough.groupBy("DOLocationID") \
    .agg(sum("total_amount").alias("total_revenue"))

# 2. Join with zone_df_renamed to get the dropoff zone names
top_10_dropoff_zones = dropoff_revenue_df.join(
    zone_df_renamed.withColumnRenamed("PULocationID", "DOLocationID"),
    on="DOLocationID",
    how="inner"
)

# 3. Order the resulting DataFrame by 'total_revenue' in descending order
# 4. Select the top 10 rows from the ordered DataFrame
top_10_dropoff_zones = top_10_dropoff_zones.orderBy(col("total_revenue").desc()).limit(10)

# 5. Display the results
print("Top 10 Dropoff Zones by Revenue:")
top_10_dropoff_zones.show(truncate=False)

Top 10 Dropoff Zones by Revenue:
+------------+------------------+---------+----------------------------+------------+
|DOLocationID|total_revenue     |Borough  |Zone                        |service_zone|
+------------+------------------+---------+----------------------------+------------+
|230         |12676.199999999915|Manhattan|Times Sq/Theatre District   |Yellow Zone |
|132         |12447.010000000007|Queens   |JFK Airport                 |Airports    |
|161         |12306.129999999943|Manhattan|Midtown Center              |Yellow Zone |
|138         |10753.03          |Queens   |LaGuardia Airport           |Airports    |
|162         |10112.499999999993|Manhattan|Midtown East                |Yellow Zone |
|236         |9514.820000000014 |Manhattan|Upper East Side North       |Yellow Zone |
|48          |9286.47000000001  |Manhattan|Clinton East                |Yellow Zone |
|170         |9098.60000000003  |Manhattan|Murray Hill                 |Yellow Zone |
|186         |8673.650000000023 |Manhattan|Penn Station/Madison Sq West|Yellow Zone |
|237         |8528.280000000033 |Manhattan|Upper East Side South       |Yellow Zone |
+------------+------------------+---------+----------------------------+------------+

In [ ]:
from pyspark.sql.functions import when, col

# Add the 'distance_category' column
clean_df_with_borough = clean_df_with_borough.withColumn(
    "distance_category",
    when(col("trip_distance") < 1, "Micro")
    .when((col("trip_distance") >= 1) & (col("trip_distance") < 3), "Short")
    .when((col("trip_distance") >= 3) & (col("trip_distance") < 10), "Medium")
    .otherwise("Long")
)

print("Added 'distance_category' column to clean_df_with_borough.")
clean_df_with_borough.select("trip_distance", "distance_category").show(5)
clean_df_with_borough.groupBy("distance_category").count().show()

Added 'distance_category' column to clean_df_with_borough.
+-------------+-----------------+
|trip_distance|distance_category|
+-------------+-----------------+
|         3.34|           Medium|
|          1.8|            Short|
|          1.0|            Short|
|          3.7|           Medium|
|         4.37|           Medium|
+-------------+-----------------+
only showing top 5 rows

+-----------------+-----+
|distance_category|count|
+-----------------+-----+
|           Medium| 4544|
|            Micro| 5526|
|             Long| 1312|
|            Short|11155|
+-----------------+-----+

In [ ]:
from pyspark.sql.functions import sum, avg, count

# Group by 'distance_category' and calculate the required metrics
distance_category_performance = clean_df_with_borough.groupBy("distance_category") \
    .agg(
        count("*").alias("total_trips"),
        avg("total_amount").alias("average_total_revenue"),
        avg("trip_duration_minutes").alias("average_trip_duration_minutes")
    ) \
    .orderBy("distance_category")

# Display the results
print("Distance Category Performance Table:")
distance_category_performance.show(truncate=False)

Distance Category Performance Table:
+-----------------+-----------+---------------------+-----------------------------+
|distance_category|total_trips|average_total_revenue|average_trip_duration_minutes|
+-----------------+-----------+---------------------+-----------------------------+
|Long             |1312       |57.0151753048781     |44.744258130081285           |
|Medium           |4544       |24.5552310739446     |27.5708993544601             |
|Micro            |5526       |7.686825913861883    |7.761693207865856            |
|Short            |11155      |12.323775885254      |14.136621843717345           |
+-----------------+-----------+---------------------+-----------------------------+

### Task 9: Payment Behavior Insights

In [ ]:
from pyspark.sql.functions import sum, avg, count, col, lit

# Calculate total trips for percentage calculation
total_trips_all_types = clean_df_with_borough.count()

# Group by 'payment_type' and calculate the required metrics
payment_behavior = clean_df_with_borough.groupBy("payment_type") \
    .agg(
        count("*").alias("total_trips"),
        avg("total_amount").alias("average_revenue"),
        sum("total_amount").alias("total_revenue")
    ) \
    .withColumn("percentage_contribution", (col("total_trips") / lit(total_trips_all_types)) * 100) \
    .orderBy("payment_type")

# Display the results
print("Payment Analytics Summary:")
payment_behavior.show(truncate=False)

Payment Analytics Summary:
+------------+-----------+------------------+------------------+-----------------------+
|payment_type|total_trips|average_revenue   |total_revenue     |percentage_contribution|
+------------+-----------+------------------+------------------+-----------------------+
|1           |15203      |17.555421298426573|266895.06999997917|67.4579580245818       |
|2           |7203       |13.508571428573047|97302.24000001166 |31.960775613435683     |
|3           |94         |15.858829787234018|1490.7299999999977|0.41709189333096686    |
|4           |37         |17.404324324324328|643.9600000000002 |0.16417446865155078    |
+------------+-----------+------------------+------------------+-----------------------+

### Task 10: Final Operational Dataset

In [ ]:
from pyspark.sql.functions import sum, avg, count, col

# Group by 'Borough' and calculate the required aggregate metrics
operational_dataset = clean_df_with_borough.groupBy("Borough") \
    .agg(
        count("*").alias("Total_Trips"),
        sum("total_amount").alias("Total_Revenue"),
        avg("total_amount").alias("Average_Revenue_per_Trip"),
        avg("trip_distance").alias("Average_Distance"),
        avg("trip_duration_minutes").alias("Average_Duration")
    ) \
    .orderBy(col("Total_Revenue").desc())

print("Summarized operational dataset created:")
operational_dataset.show(truncate=False)

Summarized operational dataset created:
+-------------+-----------+------------------+------------------------+------------------+------------------+
|Borough      |Total_Trips|Total_Revenue     |Average_Revenue_per_Trip|Average_Distance  |Average_Duration  |
+-------------+-----------+------------------+------------------------+------------------+------------------+
|Manhattan    |20507      |293290.699999942  |14.30197981176876       |2.3759209050568213|15.86567188439703 |
|Queens       |1367       |61479.07000000016 |44.973716166788705      |11.148119970738836|34.223945379175774|
|Unknown      |326        |5578.510000000022 |17.111993865030744      |3.031472392638033 |23.62888548057258 |
|Brooklyn     |312        |5308.000000000016 |17.012820512820564      |3.4224358974358995|14.212446581196579|
|Bronx        |16         |258.93000000000006|16.183125000000004      |3.8593750000000004|12.159375         |
|N/A          |7          |257.19            |36.74142857142857       |4.227142857142857 |12.685714285714285|
|EWR          |1          |152.3             |152.3                   |7.3               |0.6833333333333333|
|Staten Island|1          |7.3               |7.3                     |1.43              |8.966666666666667 |
+-------------+-----------+------------------+------------------------+------------------+------------------+

In [ ]:
# Define the output path for the Parquet file
output_path = "/content/operational_dataset.parquet"

# Store the result in Parquet format
operational_dataset.write.mode("overwrite").parquet(output_path)

print(f"Operational dataset saved to {output_path} in Parquet format.")

Operational dataset saved to /content/operational_dataset.parquet in Parquet format.